openapi: 3.0.1
info:
  title: bookings/verify
  description: 'Verify booking will revalidate all the products in the request to identify the latest price before the booking is made in addition to this it will also check all booking level validations, any inconsistencies before the booking is created.'
  version: v7
servers:
  - url: 'https://itravelsanity.ibsplc.org/iTravel/selling/api/public-booking/v7/rest/bookings/verify'
paths:
  /:
    description: 'VerifyBooking service to verify Booking creation. Gives information about the Booking status, expected price, minimum amount due to be paid, etc.'
    post:
      description: 'VerifyBooking service to verify Booking creation. Gives information about the Booking status, expected price, minimum amount due to be paid, etc.'
      parameters:
        - name: x-auth-channel
          in: header
          required: true
          schema:
            type: string
            description: channel
        - name: x-auth-token
          in: header
          required: true
          schema:
            type: string
            description: token
        - name: x-session-token
          in: header
          required: false
          schema:
            type: string
            description: session-token
      requestBody:
        description: Holds the Request triggered for Verify Booking.
        content:
          application/json:
            schema:
              description: Holds the Request triggered for Verify Booking.
              $ref: '#/components/schemas/bookingOrderVO'
          application/xml:
            schema:
              description: Holds the Request triggered for Verify Booking.
              $ref: '#/components/schemas/bookingOrderVO'
      responses:
        '200':
          description: Holds the Response details for verify Booking service.
          content:
            application/json:
              schema:
                description: Holds the Response details for verify Booking service.
                $ref: '#/components/schemas/bookingResponseVO'
            application/xml:
              schema:
                description: Holds the Response details for verify Booking service.
                $ref: '#/components/schemas/bookingResponseVO'
        '422':
          description: Holds the error details.
          content:
            application/json:
              schema:
                description: Holds the error details.
                $ref: '#/components/schemas/errorDetails'
            application/xml:
              schema:
                description: Holds the error details.
                $ref: '#/components/schemas/errorDetails'
        '500':
          description: Holds the error details.
          content:
            application/json:
              schema:
                description: Holds the error details.
                $ref: '#/components/schemas/errorDetails'
            application/xml:
              schema:
                description: Holds the error details.
                $ref: '#/components/schemas/errorDetails'
components:
  schemas:
    airAncillaryVO.Descriptions:
      type: object
      properties:
        Description:
          type: array
          items:
            $ref: '#/components/schemas/serviceDescriptionVO'
      description: The section summarises the paid air ancillary descriptions
    parentProductInfoVO:
      type: object
      properties:
        RatePlanType:
          type: string
        ProductCode:
          type: string
        ProductType:
          type: string
    bookingContactVO:
      type: object
      required:
        - FirstName
        - LastName
      properties:
        ContactType:
          description: 'This attribute holds the detail of the contact/source from where the request has come in from. Can hold values AGENCY, CUSTOMER'
          $ref: '#/components/schemas/bookingContactTypeEnum'
        Title:
          type: string
          description: Attribute which holds the title of Booking contact.
        FirstName:
          type: string
          description: This attribute holds the First name of Booking contact.
        FirstName_En:
          type: string
          description: This attribute holds the First name of Booking contact in English.
        LastName:
          type: string
          description: This attribute holds the last name of Booking contact.
        LastName_En:
          type: string
          description: This attribute holds the last name of Booking contact in English.
        MiddleName:
          type: string
          description: This attribute holds the middle name of Booking contact.
        MiddleName_en:
          type: string
          description: This attribute holds the Middle name of Booking contact in English.
        CustomerProfileId:
          type: string
          description: This attribute holds the customer profile Id.
        CrmID:
          type: string
          description: Holds the CRM ID of the Booking Contact.
        DateOfBirth:
          type: string
          description: Holds the Date of Birth of the Booking Contact
          format: dateTime
        Email:
          type: string
          description: This attribute holds the email id of Booking contact.
        AlternateEmail:
          type: string
          description: This attribute holds the alternate email ID of the booking contact
        AddressLineOne:
          type: string
          description: This attribute holds the address line one of Booking contact.
        AddressLineOne_En:
          type: string
          description: This attribute holds the address line one of Booking contact in English.
        AddressLineTwo:
          type: string
          description: This attribute holds the address line two of Booking contact.
        AddressLineTwo_En:
          type: string
          description: This attribute holds the address line two of Booking contact in English.
        AddressLineThree:
          type: string
          description: Holds additional address details of the Booking Contact.
        AddressLineThree_En:
          type: string
          description: Holds additional address details of the Booking Contact.
        HouseOrCompanyName:
          type: string
          description: Company/House name
        HouseOrCompanyName_En:
          type: string
          description: Company/House name with more details
        Street:
          type: string
          description: This attribute holds the street details of the Booking Contact.
        CountryCode:
          type: string
          description: This attribute holds the country code of the Booking Contact.
        StateProvince:
          type: string
          description: This attribute holds the state or province name of the Booking Contact.
        ZipCode:
          type: string
          description: This attribute holds the zip code of the Booking Contact.
        City:
          type: string
          description: This attribute holds the city information of the Booking Contact.
        District:
          type: string
          description: This attribute holds the district.
        IsVerifiedAddress:
          type: boolean
          description: Boolean which indicates whether address is verified.
        PhoneNumber:
          type: string
          description: This attribute holds the phone number of Booking contact.
        PhoneISDCode:
          type: string
          description: This attribute holds the Phone ISD Code.
        Fax:
          type: string
          description: This attribute holds the fax number of the booking contact
        Language:
          type: string
          description: This attribute holds the language of Booking contact.
        AddressId:
          type: string
          description: The address ID
        PnrContactId:
          type: number
          description: Unique Identifier for the Booking Contact. Not relevant in request.
          format: long
        CreateCustomerProfileInd:
          type: boolean
          description: This attribute indicates whether the customer profile needs to be created for the Booking contact.  
      description: This element holds the contact information of the booking
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    OwnerBasedDue:
      description: 'This holds the amount due for the PNR, specific to each owner in the booking.'
      $ref: '#/components/schemas/ownerBasedDueVO'
    groupPaymentVO:
      type: object
      properties:
        MessageRemark:
          type: string
          description: Indicates the message remark
        GroupCode:
          type: string
          description: Indicates the group code
        StatusCode:
          type: integer
          description: Indicates the status code
          format: int
      description: Holds the group payment details
      allOf:
        - $ref: '#/components/schemas/fopVO'
    reservationInfoVO:
      type: object
      properties:
        GuestDetails:
          description: This provides the details of the guest.
          $ref: '#/components/schemas/reservationInfoVO.GuestDetails'
        CostRecord:
          description: Holds the cost details.
          $ref: '#/components/schemas/costRecordVO'
        ReservationId:
          type: array
          items:
            $ref: '#/components/schemas/reservationIdVO'
      description: The element holds the reservation details.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    productChargeDataVO:
      required:
        - CreditUsageLimit
      type: object
      properties:
        TotalRedeemedAmount:
          type: string
          description: Total redeemed amount
          format: decimal
        ProductAmount:
          type: string
          format: decimal
        VoucherApplicableChargeType:
          $ref: '#/components/schemas/productChargeDataVO.VoucherApplicableChargeType'
        TotalRedeemableAmount:
          type: string
          description: Total redeemable amount
          format: decimal
        ChargeElements:
          $ref: '#/components/schemas/productChargeDataVO.ChargeElements'
        CreditUsageLimit:
          type: integer
          format: int
    clientRecapVO.BookingConsistencyErrors:
      type: object
      properties:
        BookingConsistencyError:
          type: array
          items:
            $ref: '#/components/schemas/remarkVO'
      description: This attribute holds the details of inconsistencies in bookings
    productVO.VendorPayments:
      type: object
      properties:
        VendorPayment:
          type: array
          items:
            $ref: '#/components/schemas/vendorPaymentVO'
      description: Payment to the vendor
    tpaExtensionsVO.HotelLocation:
      type: object
      properties:
        HotelLocation:
          type: array
          items:
            $ref: '#/components/schemas/hotelLocationVO'
    ContactDetails:
      description: This attribute holds the detailed contact information if a third-party company and/or individual is requesting this reservation
      $ref: '#/components/schemas/activitySupplierContactVO'
    itineraryItemRouteVO:
      type: object
      properties:
        ArrivalCode:
          type: string
          description: Arrival code of the route.
        TripType:
          type: string
          description: 'This element holds the item trip type, one way or round trip.'
        DepartureCodeType:
          type: string
        DepartureCode:
          type: string
          description: Departure code of the route.
        ArrivalCodeType:
          type: string
        EndDay:
          type: integer
          description: This element holds the itinerary item end day
          format: int
        ItinerarySequence:
          type: integer
          description: This element holds the itinerary item sequence.
          format: int
        StartDay:
          type: integer
          description: This element holds the itinerary item start day
          format: int
        FlexibleAttributes:
          description: Flexible attributes against a route.
          $ref: '#/components/schemas/flexibleAttributesVO'
      description: Route level info for an Air or Transfer item in package.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    packagePromoBenefitApplicabilityVO:
      type: object
      properties:
        CategoryCode:
          type: string
          description: Defines the category code
        UnitId:
          type: string
          description: Defines the unit id
        ApplicabilityType:
          type: string
          description: Defines the applicability type
        PaxId:
          type: number
          description: Defines the pax id
          format: long
        RoomId:
          type: string
          description: Defines the room id
        RatePlanCode:
          type: string
          description: Defines the rate plan code
      description: Holds the promotion applicability for package
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    promoBenefitsResponseVO.promoBenefitsDiscounts:
      type: object
      properties:
        promoBenefitsDiscount:
          type: array
          items:
            $ref: '#/components/schemas/promoBenefitsDiscountVO'
      description: promo Benefits Discount VO
    Occupancy:
      description: Defines the occupancy details
      $ref: '#/components/schemas/occupancyVO'
    CruisePolicyInfo:
      description: This element holds the cruise booking policy information
      $ref: '#/components/schemas/cruiseBookingPolicyVO'
    grpCancellationPolicyVO:
      type: object
      properties:
        PricingUnit:
          type: string
          description: This attribute holds the unit of pricing
        Percent:
          type: integer
          description: This attribute holds the percent
          format: int
        Amount:
          type: string
          description: This attribute holds the amount
          format: decimal
        RuleId:
          type: string
          description: This attribute holds the rule id
        RuleVersion:
          type: integer
          description: This attribute holds the rule version
          format: int
        OffsetValue:
          type: integer
          description: This attribute holds the offset value
          format: int
        ToDateTime:
          type: string
          description: This attribute holds the to date time
          format: dateTime
        OffsetPeriod:
          type: string
          description: This attribute holds the offset period
        OffsetTimeType:
          type: string
          description: This attribute holds the offset time type
        OffsetTime:
          type: integer
          description: This attribute holds the offset time
          format: int
        Currency:
          type: string
          description: This attribute holds the currency detail
        PaxType:
          type: string
          description: This attribute holds the pax type
        OffsetType:
          type: string
          description: This attribute holds the offset type
        CancelPolicyDesc:
          type: string
          description: This attribute holds the cancel policy description
        RuleName:
          type: string
          description: This attribute holds the rule name
        FromDateTime:
          type: string
          description: This attribute holds the from date time
          format: dateTime
      description: This attribute holds the details of group cancellation policies
    paxMandatoryDetailVO.DocumentTypeKeyValues.entry:
      type: object
      properties:
        value:
          type: string
          description: This attribute holds the master data corresponding to the document type.
        key:
          type: string
          description: This attribute holds the document type.
      description: This attribute holds the mandatory details of passenger document types along with the master data.
    serviceListResponseVO.PaidAncillaryGroups:
      type: object
      properties:
        PaidAncillaryGroup:
          type: array
          items:
            $ref: '#/components/schemas/airPaidAncillaryGroupVO'
      description: The group of paid ancillaries
    Status:
      description: Flight status details
      $ref: '#/components/schemas/flightStatusVO'
    coveredTripVO.Destinations:
      type: object
      properties:
        Destination:
          type: array
          items:
            $ref: '#/components/schemas/destinationVO'
      description: The element holds the destination details of the trip
    refundRecordVO:
      type: object
      properties:
        BookingDepartureDate:
          type: string
          description: This element holds the information about start of occurrence date
          format: dateTime
        Action:
          type: string
          description: 'This element holds the action ie ADD, when refund record is created or MODIFY when refund record is being processed, etc.'
        RefundStatus:
          type: string
          description: This holds the status of refund record
        RefundType:
          type: string
          description: This element holds the details of refund type
        RequestedAmount:
          description: The refund amount calculated by system
          $ref: '#/components/schemas/icommMoneyVO'
        BookingOfficeCode:
          type: string
          description: This holds the code of booking office
        RefundFops:
          description: This element holds the details of FOPs on which refund is to be processed
          $ref: '#/components/schemas/refundRecordVO.RefundFops'
        ModifiedDate:
          type: string
          description: Date on which refund record is modified
          format: dateTime
        OverridenApprovedAmount:
          description: This holds the details of overridden refund amount
          $ref: '#/components/schemas/overridenAmountVO'
        ApprovedAmount:
          description: This element holds the details of refund amount approved by user
          $ref: '#/components/schemas/icommMoneyVO'
        Remarks:
          description: The remarks marked against the refund record
          $ref: '#/components/schemas/refundRecordVO.Remarks'
        LeadItemCode:
          type: number
          description: This holds the code of lead item of booking
          format: long
        RefundRecordNumber:
          type: number
          description: This is the refund record reference number
          format: long
        Currency:
          type: string
          description: The currency of booking
        refundSubType:
          type: string
          description: This element holds the details of refund  sub type
        RefundAssociatedItems:
          description: This element holds the refund associations ie item to which the refund is being allocated.
          $ref: '#/components/schemas/refundRecordVO.RefundAssociatedItems'
        CreatedDate:
          type: string
          description: Date on which refund record is created
          format: dateTime
        AgencyCode:
          type: string
          description: This holds the details of agency which created booking
        RefundReason:
          type: string
          description: This holds the details of reason for refund
        SuperPnrNumber:
          type: string
          description: This element holds the details of SuperPNRNumber
      description: This element holds the details of refund if booking is over paid/ booking is cancelled/booking is modified.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    Cruise:
      description: Cruise details in booking
      $ref: '#/components/schemas/cruiseVO'
    phoneVO:
      type: object
      properties:
        PhoneNumber:
          type: string
          description: This attribute holds the phone number of passengers in which they can be contacted
        PhoneISDCode:
          type: string
          description: This attribute holds the ISD code of the phone number used.
        PhoneType:
          type: string
          description: This attribute holds the phone type  used by the passenger
        IsPrimary:
          type: boolean
          description: This attribute indicates whether the provided phone details can be considered as primary in order to contact in case of emergency.
        OnTrip:
          type: boolean
          description: This attribute holds the indicator whether this phone number will be available while on trip.
        AreaCode:
          type: string
          description: This attribute holds the area code.
        PhoneTechType:
          description: 'This attribute holds the type of technology associated with the telephone number, such as Voice, Data, Fax, Pager, Mobile, TTY, etc. Refer to OpenTravel Code List Phone Technology Type (PTT).'
          $ref: '#/components/schemas/phoneTechTypeEnum'
      description: This holds the phone details of the passenger
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    RatePlanInclusion:
      $ref: '#/components/schemas/ratePlanInclusionVO'
    BedConfigurationTier:
      $ref: '#/components/schemas/bedConfigurationTierVO'
    Associations:
      description: Passenger association
      $ref: '#/components/schemas/bagDetailVO'
    contactDetailsVO:
      type: object
      properties:
        PersonName:
          description: This item holds the name information of a person who is requesting forthe tour and/or activity
          $ref: '#/components/schemas/personNameVO'
        Email:
          type: array
          items:
            $ref: '#/components/schemas/otaEmailVO'
        ContactType:
          type: string
          description: 'This item holds the contact type like home, office etc. The supported values for contact type are H,B and M(Home,Business and '
        Address:
          description: This item holds the address details of the passenger.
          $ref: '#/components/schemas/addressVO'
        Telephone:
          type: array
          items:
            $ref: '#/components/schemas/phoneVO'
      description: This attribute holds the detailed contact information if a third-party company and/or individual is requesting this reservation
    CabinConfiguration:
      description: This attribute holds details of the cabin configuration
      $ref: '#/components/schemas/cabinConfigurationVO'
    dataListsVO.OriginDestinationList:
      type: object
      properties:
        OriginDestination:
          type: array
          items:
            $ref: '#/components/schemas/originDestinationDataListVO'
      description: 'The element holds the lists of origin destination '
    CancellationPolicyVO:
      description: This attribute holds the cancellation policy details
      $ref: '#/components/schemas/cancellationPoliciesVO'
    reservationInfoVO.GuestDetails:
      type: object
      properties:
        GuestDetail:
          type: array
          items:
            $ref: '#/components/schemas/guestDetailVO'
      description: Details of the guest
    Applicability:
      $ref: '#/components/schemas/applicabilityVO'
    OfferItem:
      description: Offer Item details
      $ref: '#/components/schemas/offerItemVO'
    AirPaidAncillaryGroup:
      description: This attribute provides details of the ancillary group of the paid air item
      $ref: '#/components/schemas/airPaidAncillaryGroupVO'
    companyVO:
      type: object
      description: This attribute holds the company details
    indCoverageRequestVO:
      type: object
      properties:
        IndTripCost:
          $ref: '#/components/schemas/indTripCostVO'
        PreexistingConditions:
          $ref: '#/components/schemas/indCoverageRequestVO.PreexistingConditions'
        FlightAccidentAmount:
          $ref: '#/components/schemas/flightAccidentAmountVO'
        CoveredLuggage:
          $ref: '#/components/schemas/coveredLuggageVO'
    PassengerApplicability:
      description: The applicability criterion  of the promotion regarding the eligible passengers is provided by this attribute
      $ref: '#/components/schemas/airPromotionPassengerApplicabilityVO'
    flightItemVO:
      type: object
      properties:
        FareDetail:
          description: The fare details related to the flight.
          $ref: '#/components/schemas/fareDetailVO'
        Price:
          description: Price details of each flight
          $ref: '#/components/schemas/priceVO'
        OriginDestination:
          type: array
          items:
            $ref: '#/components/schemas/originDestinationVO'
        Charges:
          description: The charge (price) details of the product. This is the details to calculate the total price/charge of a product in the booking
          $ref: '#/components/schemas/flightItemVO.Charges'
        IsModified:
          type: boolean
          description: Flag to indicate whether the flight item is modified or not
      description: Flight Item Info
    InsCoverageDetail:
      description: Not applicable
      $ref: '#/components/schemas/insCoverageDetailVO'
    applicabilityVO:
      type: object
      properties:
        PassengerApplicability:
          description: This node holds the information of facility or meal plancharge for the per passenger for each nights
          $ref: '#/components/schemas/applicabilityVO.PassengerApplicability'
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    CountryName:
      description: This attribute holds the country name provided in the address.
      $ref: '#/components/schemas/countryNameVO'
    productVO.ConfirmationNumbers:
      type: object
      properties:
        entry:
          type: array
          items:
            $ref: '#/components/schemas/productVO.ConfirmationNumbers.entry'
      description: This attribute holds the confirmation numbers added against a product
    productVO.ProductParameters:
      type: object
      properties:
        entry:
          type: array
          items:
            $ref: '#/components/schemas/productVO.ProductParameters.entry'
      description: This holds the product specific parameters required for importing
    cancelPenaltyVO:
      type: object
      properties:
        cxlFeeCalcBasis:
          type: string
          description: This specifies if the cancellation fee is to be applied as amount percentage or night.
        ApplyAs:
          type: string
          description: This specifies if the cancellation fee is to be applied as per passenger or per room or once
        Start:
          type: string
          description: The starting value of the time span
        Deadline:
          description: 'Cancellation deadline, absolute or relative'
          $ref: '#/components/schemas/deadlineDateVO'
        policySource:
          type: string
          description: This specifies if the cancellation fee is from the provider system or not. the values are customer and provider.
        count:
          type: integer
          description: The priority of cancellation policy
          format: int
        HtlTimeZone:
          type: string
        PolicyCode:
          type: string
          description: Policy Code
        End:
          type: string
          description: The ending value of the time span.
        isNoShow:
          type: boolean
          description: This specifies if the cancellation fee is for no show or not.
        AmountPercent:
          description: Indicates whether taxes are included when figuring the base amount
          $ref: '#/components/schemas/amountAndPercentVO'
      description: Defines the cancellation penalty of the hotel facility.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    cabinVO:
      type: object
      properties:
        Status:
          type: string
          description: This Attribute indicates the Indicator which shows the status of the Cabin
        SellingOccupancy:
          type: integer
          description: This Attribute indicates the Selling Occupancy Value
          format: int
        CruiseFacilities:
          description: This attribute holds the facilities selected for the passengers
          $ref: '#/components/schemas/cabinVO.CruiseFacilities'
        CabinProperties:
          $ref: '#/components/schemas/cabinPropertiesVO'
        IsAccessibleCabin:
          type: boolean
          description: This attribute will indicate whether the cabin support physically challenged passengers.
        CabinConfigurations:
          description: Cabin configuration information will be provided
          $ref: '#/components/schemas/cabinVO.CabinConfigurations'
        PetSupported:
          type: string
          description: deprecated
        AllowCrib:
          type: string
          description: This attribute will indicate whether the cribs are allowed in the cabin.
        DeckName:
          type: string
          description: This node holds the deck name
        AllowRollaway:
          type: string
          description: This attribute will indicate whether the cabin support roll away beds.
        GuaranteeOccupancy:
          type: integer
          description: This Attribute indicates the Guarantee Occupancy
          format: int
        BedConfiguration:
          type: string
          description: deprecated
        BedConfigurationCode:
          type: string
          description: This node holds the bed configuration code selected for the cabin
        LoyaltyPointsRestricted:
          type: boolean
          description: This will indicate whether loyalty points is restricted for the cabin or not.
        SpaceHoldIdentifier:
          type: string
          description: This node holds the space hold identifier returned by holding the cabin
        CabinNumber:
          type: string
          description: 'This Attribute indicates the Cabin Number. If in shopping, the option selected in assign, the value will be empty. '
        WaitlistedCabins:
          type: string
          description: This Attribute indicates the Waitlisted Cabins
        MaxOccupancy:
          type: integer
          description: This Attribute indicates the Maximum Occupancy
          format: int
        PhysicallyChallenged:
          type: string
          description: deprecated
        DeckNumber:
          type: string
          description: This node holds the deck code
        IsPetSupportedCabin:
          type: boolean
          description: This attribute will indicate whether the cabin support pets.
        CabinAttributes:
          description: Cabin information will be provided
          $ref: '#/components/schemas/cabinVO.CabinAttributes'
      description: Cabin information will be provided
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    detailCurrencyPriceVO.Details:
      type: object
      properties:
        Detail:
          type: array
          items:
            $ref: '#/components/schemas/detailVO'
      description: This attribute holds theTicket Tax/fee/charge details to indicate taxes that apply to country of commencement of travel and routing.
    locationVO.Stops:
      type: object
      properties:
        Stop:
          type: array
          items:
            $ref: '#/components/schemas/locationDetailsVO'
      description: This node holds the stops location details
    CoverageRequirement:
      description: Not applicable
      $ref: '#/components/schemas/coverageRequirementVO'
    offerItemTypeVO:
      type: object
      properties:
        DetailedFlightItem:
          description: The details of the offer items for a flight
          $ref: '#/components/schemas/flightItemVO'
      description: Contains a set of items in the offer.
    nightApplicabilityVO:
      type: object
      properties:
        nightId:
          type: string
          description: The date for which the facility or meal plan is chargeable
        isChargable:
          type: boolean
          description: Specifies if the facility or meal plan is chargeable for the specified date
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    cancellationPolicyVO:
      type: object
      properties:
        PricingUnit:
          type: string
          description: Per Person/ Per pax/ Per Occupancy/Mixed pricing
        Amount:
          type: string
          description: Markup Amount on top of the vender fees
          format: decimal
        ruleMarkUpType:
          type: string
          description: It is the percentage or amount to be applied for cancellation policy
        ruleOffSetType:
          type: string
          description: 'It is the offset apllied for departure,booking date,supplier or provider cancellation'
        CancelPolicyTimeZone:
          type: string
        ToDateTime:
          type: string
          description: The date to which the cancellation policy is applicable
          format: dateTime
        PassengerType:
          type: string
          description: Senior/Adult/Child/ Jr.Child/ etc
        ruleValue:
          type: string
          description: It is the value of the percentage or amount to be applied for cancellation policy
        Currency:
          type: string
          description: Pricing Currency of the cancellation fees
        AppliedOn:
          type: string
          description: Upon which the cancellation needs to be applied
        CancelPolicyDesc:
          type: string
          description: Identifies the cancellation policy description
        VenderFee:
          type: string
          description: This vendor cancellation fees amount
          format: decimal
        FromDateTime:
          type: string
          description: The date from which the cancellation policy is applicable
          format: dateTime
      description: This holds the tour/activity cancellation policy details
    hotelBookingInfoVO:
      type: object
      properties:
        HotelDescription:
          type: string
        PackageOccurrenceCode:
          type: string
          description: This node provides the package occurrence code in case of package booking
        OpportunityID:
          type: string
        HotelLocations:
          description: This node holds the location details of the hotel
          $ref: '#/components/schemas/hotelBookingInfoVO.HotelLocations'
        BlockID:
          type: string
        PackageID:
          type: string
          description: This node provides the package IDcode in case of package booking
        PackageCategoryCode:
          type: string
        PackageDepartureDate:
          type: string
        GroupID:
          type: string
      description: This attribute holds the booking details of hotel item.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    diningInformationVO.MealDetails:
      type: object
      properties:
        MealInformation:
          type: array
          items:
            $ref: '#/components/schemas/selectedMealInformationVO'
      description: This node will provide the meal details of the restaurant.
    otaEmailVO:
      type: object
      properties:
        ValidInd:
          type: boolean
        EmailType:
          type: string
          description: This identifies whether it business email address or personal email address etc
        TextFormat:
          type: string
        ShareMarketInd:
          type: string
        DefaultInd:
          type: boolean
        RPH:
          type: string
          description: The ID to identify the email of the particular activity contact person
        Remark:
          type: string
          description: This item holds the remarks
        ShareSynchInd:
          type: string
      description: Email Details of the passenger
    TimeLimit:
      description: Holds the payment schedule information.
      $ref: '#/components/schemas/timeLimitVO'
    cruiseFacilityVO:
      type: object
      properties:
        CruiseFacilityPaxInfos:
          description: This node will hold the passenger info of the facility.
          $ref: '#/components/schemas/cruiseFacilityVO.CruiseFacilityPaxInfos'
        Quantity:
          type: integer
          description: Quantity details will be captured here.
          format: int
        FacilityDescription:
          type: string
          description: This attribute holds the facility description
        FacilityCode:
          type: string
          description: This attribute holds the facility code
        FacilityName:
          type: string
          description: This node holds the facility name
        BringYourOwn:
          type: string
          description: This attribute will hold the bring your own indicator.
      description: This node will hold the ship cabin facility information.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    rateVO.AdditionalGuestAmounts:
      type: object
      properties:
        AdditionalGuestAmount:
          type: array
          items:
            $ref: '#/components/schemas/hotelAdditionalGuestAmountVO'
      description: The amount to be charged for additional guests
    noteCategoryVO.DocumentTypes:
      type: object
      properties:
        DocumentType:
          type: array
          items:
            type: string
    transferPromotionBenefitVO.TransferPromoBenefitApplicabilityList:
      type: object
      properties:
        TransferPromoBenefitApplicability:
          type: array
          items:
            $ref: '#/components/schemas/transferPromoBenefitApplicabilityVO'
      description: Holds the transfer promotion applicability list
    StateProv:
      description: This attribute holds the state or province name provided in the address.
      $ref: '#/components/schemas/stateProvinceVO'
    PackageInfo:
      $ref: '#/components/schemas/packageInfoVO'
    cruiseFacilityVO.CruiseFacilityPaxInfos:
      type: object
      properties:
        CruiseFacilityPaxInfo:
          type: array
          items:
            $ref: '#/components/schemas/cruiseFacilityPaxInfoVO'
      description: This node holds the passengers selected for a facility
    travelWithProductRefVO:
      type: object
      properties:
        ProductName:
          type: string
          description: This atrribute holds the name of the product
        Passengers:
          description: This atrribute holds the details of passengers
          $ref: '#/components/schemas/travelWithProductRefVO.Passengers'
        ProductType:
          description: This atrribute holds the type of product
          $ref: '#/components/schemas/productTypeEnum'
        ProductId:
          type: number
          description: This attribute holds the unique product ID
          format: long
        RemarkText:
          type: string
          description: This atrribute holds the remark text entered
      description: 'This atrribute holds the details of "travel with type" reference eg: product type'
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    CheckedFree:
      description: Free check in baggage allowance
      $ref: '#/components/schemas/checkedFreeBagVO'
    roomStayAmendmentVO.GuestCounts:
      type: object
      properties:
        GuestCount:
          type: array
          items:
            $ref: '#/components/schemas/guestCountVO'
      description: 'This element holds the details of the number of guests who has made the booking for the hotel stay. '
    luggageItemVO:
      type: object
      properties:
        ItemDeclaredValue:
          $ref: '#/components/schemas/itemDeclaredValueVO'
        LuggageDesciption:
          $ref: '#/components/schemas/luggageDescriptionVO'
        LuggageType:
          type: string
    telephoneVO:
      type: object
      properties:
        CountryAccessCode:
          type: string
          description: This attribute holds the code assigned for the telephones in a country
        AreaCityCode:
          type: string
          description: 'This attribute holds the code assigned for telephones in a specific region, city, or area.'
        PhoneNumber:
          type: string
          description: This attribute holds the telephone number assigned to a single location.
      description: 'This attribute holds the telephone number of the passenger who is requesting for the tour and/or activity. '
    commissionSplitVO:
      type: object
      properties:
        CommissionAmount:
          type: string
          description: Indicate calculated Commission amount based on gross price.
          format: decimal
        RuleID:
          type: string
          description: Indicate Unique Identifier of Rule applied.
        CommissionPercentageValue:
          type: number
          description: Indicate Commission Percentage from applied commission rule.
          format: double
        RuleDesc:
          type: string
          description: Hold Rule Description.
        OriginalCommissionAmount:
          type: string
          description: Indicate Original Commission Amount before recalculate.
          format: decimal
        OriginalCommissionPercentageValue:
          type: number
          description: Indicate Original Commission percentage before recalculate.
          format: double
        RuleType:
          type: string
          description: Hold type of commission rule like Bonus/Standard.
        ID:
          type: number
          description: Indicate Unique identifier for commission split up
          format: long
      description: Hold agency standard and bonus commission split data
    addlBaggageInfoVO:
      type: object
      properties:
        AllowableBag:
          type: array
          items:
            $ref: '#/components/schemas/allowableBagVO'
        CheckedFree:
          description: This element holds Baggage details when the baggage weight is returned.
          $ref: '#/components/schemas/checkedFreeBagVO'
      description: Baggage Info
    supplierContactVO:
      type: object
      properties:
        Action:
          type: string
          description: 'This attribute holds the action happened in the supplier contact like add,modify etc..'
        ID:
          type: number
          description: This attribute holds the unique ID for the supplier contact.
          format: long
      description: This attribute holds the contact details of the supplier
      allOf:
        - $ref: '#/components/schemas/contactVO'
    hotelChargeVO:
      type: object
      properties:
        NightId:
          type: string
          description: This specifies the night for which the charge is applicable.
          format: dateTime
        ChargeId:
          type: number
          description: This charge ID
          format: long
      allOf:
        - $ref: '#/components/schemas/chargeVO'
    airPromotionsVO:
      type: object
      properties:
        PromoId:
          type: string
          description: This element holds the air promotion ID
        PromotionTotal:
          type: number
          description: This element holds the air promotion value
          format: double
        PromoCode:
          type: string
          description: This element holds the air promotion code
        PromoName:
          type: string
          description: This element holds the air promotion name
        PromoType:
          type: string
          description: This element holds the air promotion type
        isApplied:
          type: boolean
          description: This element indicates whether the air promotion is applied or not
        Benefits:
          description: This element holds the benefit details of the air promotions
          $ref: '#/components/schemas/airPromotionsVO.Benefits'
        PromotionDetails:
          description: This element holds the details of the air promotions
          $ref: '#/components/schemas/promotionResponseVO'
      description: This element holds the details of the air promotions
    bookingErrorVO.Errors:
      type: object
      properties:
        Error:
          type: array
          items:
            $ref: '#/components/schemas/errorVO'
      description: 'This element holds the details of the errors in the booking '
    RoomStay:
      description: Details of the room stay.
      $ref: '#/components/schemas/roomStayAmendmentVO'
    AirAncillary:
      description: This attribute provides details of the specific air ancillary
      $ref: '#/components/schemas/airAncillaryVO'
    activityPricingVO:
      type: object
      properties:
        Summary:
          description: It is to identify the total price of the activity
          $ref: '#/components/schemas/summaryVO'
      description: Information that identifies the tour and/or activity pricing details
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    IndCoverageReqs:
      $ref: '#/components/schemas/indCoverageRequestVO'
    HotelBenefitDetails:
      $ref: '#/components/schemas/hotelRootBenefitVO'
    hotelAdditionalGuestAmountVO:
      type: object
      properties:
        Type:
          type: string
          description: A code representing the charges related to additional guests
        Amount:
          description: The amount charged for an additional guest
          $ref: '#/components/schemas/amountVO'
        MaxAdditionalGuests:
          type: integer
          description: Provides the maximum number of additional guests allowed.
          format: int
      description: This provides the details of the additional guests
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    Eligibility:
      description: This attribute provides details of the eligibility conditions of the fare
      $ref: '#/components/schemas/eligibilityReferenceVO'
    Email:
      $ref: '#/components/schemas/otaEmailVO'
    mealsIncludedVO:
      type: object
      properties:
        DinnerIncluded:
          type: boolean
          description: 'When true, indicates dinner is included.'
        MealPlanCodes:
          type: string
          description: 'Codes which define the type of meal plan included.European Plan,Continental breakfast '
        MealPlanIndicator:
          type: boolean
          description: 'When true, a meal plan is included in this rate plan. When false, a meal plan is not included in this rate plan.'
        LunchIncluded:
          type: boolean
          description: 'When true, indicates lunch is included.'
        BreakfastIncluded:
          type: boolean
          description: 'When true, indicates breakfast is included.'
      description: 'This element holds the details of the meal plans that are included with this rate program. '
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    selectedSailingVO.Regions:
      type: object
      properties:
        Region:
          type: array
          items:
            type: string
      description: This node holds the regions that are covered by the selected sailing.
    bookingStatusChange:
      type: object
      properties:
        OldStatus:
          description: 'Shows the previous status '
          $ref: '#/components/schemas/bookingStatusEnum'
        NewStatus:
          description: Shows the current status
          $ref: '#/components/schemas/bookingStatusEnum'
        RoomID:
          type: integer
          description: Shows the Room ID
          format: int
      description: 'this attribute shows the change in the booking status '
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    transferPaxTicketDetailVO:
      type: object
      properties:
        PaxId:
          type: number
          description: The passenger ID against which the ticket is generated.
          format: long
        DocumentID:
          type: string
          description: The CMS document ID
        SourceTicketID:
          type: string
          description: The ticket ID
        TicketIssueDate:
          type: string
          description: The date in which ticket is generated.
          format: dateTime
        TicketStatus:
          type: string
          description: The status of the ticket
        ProviderTicketID:
          type: string
          description: The provider ticket ID from TickEOS System.
      description: This node holds the ticket details-Only in case of transfer type as rail
    CruiseBenefitDetails:
      description: This node holds the cruise promotion benefit details
      $ref: '#/components/schemas/cruiseRootBenefitVO'
    hotelVO.QuotedPromoCodes:
      type: object
      properties:
        PromoCode:
          type: array
          items:
            type: string
    dataListsVO:
      type: object
      properties:
        FlightList:
          description: List of flights included in the offer.
          $ref: '#/components/schemas/dataListsVO.FlightList'
        OriginDestinationList:
          description: The origin and destination information. This contains a list of all the flight elements that are part of that origin and destination.
          $ref: '#/components/schemas/dataListsVO.OriginDestinationList'
        FareList:
          description: 'This element holds the charge details of the fare. '
          $ref: '#/components/schemas/dataListsVO.FareList'
        ServiceList:
          description: List of fservices included in the offer.
          $ref: '#/components/schemas/dataListsVO.ServiceList'
        CarryOnAllowanceList:
          description: Baggage Information.
          $ref: '#/components/schemas/dataListsVO.CarryOnAllowanceList'
        FlightSegmentList:
          description: The list of segments included in the offer
          $ref: '#/components/schemas/dataListsVO.FlightSegmentList'
        AnonymousTravelerList:
          description: Anonymous Traveller data list definition.
          $ref: '#/components/schemas/dataListsVO.AnonymousTravelerList'
      description: 'This element holds the details like flights and segments in the itinerary. '
    GrpCancellationPolicy:
      description: This attribute holds the details of group cancellation policies
      $ref: '#/components/schemas/grpCancellationPolicyVO'
    ProductIndicator:
      description: This attribute holds the indicators for product level fees
      $ref: '#/components/schemas/productIndicatorVO'
    bookingErrorVO.BookingInconsistencies:
      type: object
      properties:
        BookingInconsistency:
          type: array
          items:
            $ref: '#/components/schemas/bookingInconsistencyVO'
      description: This attribute holds the details of inconsistencies in bookings. eg. Flight and cruise are overlapping
    MarketingName:
      description: 'This attribute holds the Cabin class marketing name. Example: Premium Economy'
      $ref: '#/components/schemas/marketingNameVO'
    bookingReferenceVO:
      type: object
      properties:
        SegmentKey:
          type: string
          description: GDS Key of Segments
        AirlineID:
          type: string
          description: The Airline ID
        AirLinePNR:
          type: string
          description: Airline Record Locator
      description: 'Booking Reference information to include Record Locator, Assigning Airling Identifier, etc.'
    bookingInstructionVO:
      type: object
      properties:
        SSRCode:
          type: string
          description: Field that stores the SSR Code
        SSRStatus:
          type: string
          description: Field that stores the SSR status information
        SegmentReferences:
          type: string
          description: Field that captures the segment that the SSR is referred against
        Text:
          type: string
          description: Field that stores the SSR description
      description: The object to save the SSR details  of the ancillaries
    transferTPAExtensionVO.TransferPassengerEntitles:
      type: object
      properties:
        TransferPassengerEntitle:
          type: array
          items:
            $ref: '#/components/schemas/transferPassengerEntitleVO'
    superPnrVO.Fees:
      type: object
      properties:
        Fee:
          type: array
          items:
            $ref: '#/components/schemas/feeVO'
      description: 'The list of booking level fees for the particular PNR such as booking service fee, cancellation service fee, etc.'
    CabinAttribute:
      description: The element defines the cabin attribute.
      $ref: '#/components/schemas/cabinAttributeVO'
    pickUpDropOffVO:
      type: object
      properties:
        PickupInd:
          type: boolean
          description: Information that identifies the tour and/or activity requires a pickup/drop off
        ParticipantList:
          description: Information that identifies the tour and/or activity passenger details
          $ref: '#/components/schemas/pickUpDropOffVO.ParticipantList'
        LocationType:
          type: string
        DateTime:
          type: string
          description: Information that identifies the pickup/drop date and time
          format: dateTime
        LocationName:
          type: string
          description: Information that identifies thethe pickup/drop activity location
      description: Information that identifies the tour and/or activity pickup/ drop off details
    cruiseWTLPreferenceVO:
      type: object
      properties:
        WaitlistPreferenceValue:
          type: array
          items:
            type: string
        WaitlistPreferenceType:
          type: string
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    activityPromotionIdVO:
      type: object
      properties:
        promoID:
          type: number
          description: The ID of the promotion applied on the Activity
          format: long
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    insCoverageDetailVO.CoveredTrips:
      type: object
      properties:
        CoveredTrip:
          type: array
          items:
            $ref: '#/components/schemas/coveredTripVO'
    connectedCabinsVO:
      type: object
      properties:
        CategoryCode:
          type: string
        CabinNumber:
          type: string
        CategoryName:
          type: string
    NearbyCabins:
      $ref: '#/components/schemas/nearbyCabinsVO'
    totalVO:
      type: object
      properties:
        CurrencyCode:
          type: string
          description: Currency code.
        DecimalPlaces:
          type: integer
          description: Decimal places for currency code.
          format: int
        AmountAfterTax:
          type: number
          description: 'The amount received after tax as a part of availability response. The total amount including all associated taxes (e.g., sales tax, VAT, GST or any associated tax).'
          format: double
        AmountBeforeTax:
          type: number
          description: Total amount before tax received as a part of availability response.
          format: double
        AdditionalFeesExcludedIndicator:
          type: boolean
          description: This node confirms if additional fees areexcluded or not.
      description: This provides the details of the total amount receives as part of availability response.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    refundFopVO:
      type: object
      properties:
        FopType:
          type: string
          description: 'Holds the value of FOP type eg: credit card,debit card'
        RefundRecordNumber:
          type: number
          description: This is the refund record reference number
          format: long
        Amount:
          description: Holds the value of amount of refund
          $ref: '#/components/schemas/icommMoneyVO'
        Currency:
          type: string
          description: Holds the currency of refund
        PaymentTxnId:
          type: string
          description: Holds the transaction ID details of payment
        PaymentStatus:
          type: string
          description: Holds the payment status of booking after refund
        RefundFOPAssociatedItems:
          description: Indicates the association to the items due to which refund is being generated
          $ref: '#/components/schemas/refundFopVO.RefundFOPAssociatedItems'
      description: This element holds the details of FOPs on which refund is to be processed
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    HotelInfo:
      $ref: '#/components/schemas/hotelInfoVO'
    hotelPromotionBenefitVO:
      type: object
      properties:
        UpgradeCategory:
          type: string
        PersonTypesApplicable:
          type: array
          items:
            $ref: '#/components/schemas/promotionMasterVO'
        BenefitID:
          type: string
          description: Defines the benefit id
        UpgradeRateplan:
          type: string
        EligibleCategory:
          type: string
          description: Defines the eligible category
        EligibleRatePlan:
          type: string
          description: Defines the eligible rate plan
        PromoBenefitApplicabilityList:
          $ref: '#/components/schemas/hotelPromotionBenefitVO.PromoBenefitApplicabilityList'
        LoyaltyTiersApplicable:
          type: array
          items:
            $ref: '#/components/schemas/promotionMasterVO'
        BenefitApplication:
          type: string
      description: Holds the applicable promotion & benefits for hotel
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    SuperPnr:
      description: This element holds all the Booking data for the particular PNR
      $ref: '#/components/schemas/superPnrVO'
    tourActivityVO:
      type: object
      properties:
        ContactDetail:
          description: 'Type of contact such as Business, Home'
          $ref: '#/components/schemas/contactDetailsVO'
        CancelFee:
          description: Information that identifies the tour / activity Cancellation Fee
          $ref: '#/components/schemas/cancelFeeVO'
        QuotedPromoCodes:
          $ref: '#/components/schemas/tourActivityVO.QuotedPromoCodes'
        ActivityAmendment:
          description: Information that identifies the tour and/or activity being amended
          $ref: '#/components/schemas/activityAmendmentVO'
        BookingInfo:
          description: Information that identifies the tour and/or activity being booked
          $ref: '#/components/schemas/bookingInfoVO'
        CancellationPolicies:
          description: Information that identifies the tour / activity Cancellation Policies
          $ref: '#/components/schemas/tourActivityVO.CancellationPolicies'
      description: 'The function will provide the attribute details of the tour and/or activity '
      allOf:
        - $ref: '#/components/schemas/abstractDomainVO'
    associatedProductVO:
      type: object
      properties:
        SubProductRefId:
          type: string
          description: Hold any sub product Ref Id. Relevant in case of package
        Action:
          type: string
          description: Specifies the action.
        TypeOfAssociation:
          description: This attribute indicates the type of association between the products.
          $ref: '#/components/schemas/associationEnum'
        ProductType:
          description: This attribute holds the product type of the product which is being associated.
          $ref: '#/components/schemas/productTypeEnum'
        ProductRefId:
          type: number
          description: This attribute holds the product reference ID of the product which is being associated.
          format: long
        ReferencePnrNumber:
          type: string
          description: Holds the reference PNR Number.
        AssociationId:
          type: number
          description: This attribute holds the association ID.
          format: long
      description: This attribute holds the details of the product details that needs be associated to the product as part of current modification.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    orderItemChangeVO:
      type: object
      properties:
        ActionType:
          type: string
          description: 'Action type.eg:DELETE,CREATE'
        refs:
          type: number
          description: Object association(s) between this object and any object instance(s).
          format: long
      description: This element holds the order item info during modification
      allOf:
        - $ref: '#/components/schemas/abstractOrderItemVO'
    cruiseAmendmentVO.AmendmentTypes:
      type: object
      properties:
        AmendmentType:
          type: array
          items:
            type: string
    passengerReferenceVO:
      type: object
      properties:
        PaxSerialId:
          type: integer
          description: Holds the passenger serial number specific to the booking.
          format: int
        IsPreSchooler:
          type: boolean
          description: Specified whether the passenger is a Pre-schoolerp
        Action:
          type: string
          description: This hold the action like add/modify/delete for the passenger.
        GrossPriceInBkgCurrency:
          description: The attribute holds the total gross price of a passenger in a product in booking currency.
          $ref: '#/components/schemas/icommMoneyVO'
        Remarks:
          description: This attribute holds the remarks added against the passenger.
          $ref: '#/components/schemas/passengerReferenceVO.Remarks'
        ProductPaxStatus:
          description: This attribute holds the status of a passenger in a product.The supported values are Active and Cancelled
          $ref: '#/components/schemas/bookingStatusEnum'
        GrossPrice:
          description: The attribute holds the total gross price of a passenger in a product in pricing currency.
          $ref: '#/components/schemas/icommMoneyVO'
        PaxType:
          description: This attribute holds the type of pax
          $ref: '#/components/schemas/passengerTypeEnum'
        PersonType:
          type: string
          description: Holds the person type.
        Fees:
          description: This attribute holds the Fees applied for each passenger.
          $ref: '#/components/schemas/passengerReferenceVO.Fees'
        RefId:
          type: number
          description: This holds the pax ID
          format: long
        OtherReferenceID:
          type: string
          description: This attribute holds any reference ID other than pax ID
      description: Association to multiple Passenger instance(s).
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    surpriseProductDetailVO:
      type: object
      properties:
        ProductName:
          type: string
          description: 'This attribute holds product name in a surprise booking '
        ParentProductId:
          type: number
          description: 'This attribute holds parent product id in a surprise booking '
          format: long
        ProductType:
          description: 'This attribute holds product type in a surprise booking '
          $ref: '#/components/schemas/productTypeEnum'
        ParentProductName:
          type: string
          description: 'This attribute holds parent product name in a surprise booking '
        RefId:
          type: integer
          description: This attribute holds RefId
          format: int
      description: 'This attribute holds surprise product details in a surprise booking '
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    sailingInfoVO.SpecialRequest:
      type: object
      properties:
        CabinRequest:
          type: array
          items:
            $ref: '#/components/schemas/cabinRequestVO'
      description: This node holds the details of the requested cabin
    roomRateVO:
      type: object
      properties:
        Rates:
          description: The rate for a room
          $ref: '#/components/schemas/roomRateVO.Rates'
        GuestCounts:
          description: A collection of Guest Counts associated with the room rate.
          $ref: '#/components/schemas/roomRateVO.GuestCounts'
        ExpireDate:
          type: string
          description: This indicates the date till when room rate is applicable.
          format: dateTime
        PromoCode:
          type: string
        ExpireDateExclusiveInd:
          type: boolean
          description: This indicates the expiry date of the applicable room rate offer.
        PromotionCode:
          type: string
          description: 'Promotion code is the identifier used by the host to link directly with a specific named advertising campaign. By including the required code, the client is able to gain access to special offers which may have been created for a specifically targeted group via a CRM system or for a wider advertising campaign using Television or press adverts.'
        RoomID:
          type: string
          description: A string value representing the unique identification of a room.
        RoomTypeCode:
          type: string
          description: 'This is the code which represents the room type  offered by hotel. Say category of room type offered. Specfic system room type code, ex: A1K, A1Q etc.'
        RatePlanID:
          type: string
          description: A text field used to indicate a special ID code that is associated with the rate and is essential in the reservation request in order to obtain the rate. Examples are Corporate ID.
        RatePlanType:
          type: string
          description: 'An enumerated type that allows the query to specify a rate category type, and provides major categories for comparisonacross brands. Refer to OpenTravel Code List Rate Plan Type (RPT).'
        NumberOfUnits:
          type: number
          description: Number of rooms of a particular category.
          format: long
        Total:
          description: The total of all rates for this room rate type.
          $ref: '#/components/schemas/totalVO'
        RatePlanCode:
          type: string
          description: 'This is used to request for room booking with this specific rate plan code. A string value may be used to request a particular code or an ID if the guest qualifies for a specific rate, such as AARP, AAA, a corporate rate, etc., or to specify a negotiated code as a result of a negotiated rate.'
        EffectiveDate:
          type: string
          description: This indicates the starting date from which room rate is effective
          format: dateTime
      description: 'A collection of room rates associated with a particular Room Stay. Each Room Rate combination can have multiple rates. Example King room, Rack rate plan, Monday through Thursday, weekday amount, Friday and Saturday, weekend amount.'
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    selectedSailingVO.CruiseWTLPreferences:
      type: object
      properties:
        CruiseWTLPreference:
          type: array
          items:
            $ref: '#/components/schemas/cruiseWTLPreferenceVO'
    ParticipantInfo:
      description: 'This attribute holds the individual participant, participant category and group details'
      $ref: '#/components/schemas/participantInfoVO'
    tpaExtensionsVO.AmendmentPenalties:
      type: object
      properties:
        AmendmentPenalty:
          type: array
          items:
            $ref: '#/components/schemas/amendmentPenalityVO'
      description: This attribute holds the values of amendment charges
    airTaxesVO.Breakdown:
      type: object
      properties:
        Tax:
          type: array
          items:
            $ref: '#/components/schemas/airTaxVO'
      description: Tax breakdown
    promotionBenefit:
      description: This element holds the benefit details of air promotions
      $ref: '#/components/schemas/promoBenefitsResponseVO'
    ticketDocumentVO:
      type: object
      properties:
        ErrorDescription:
          type: string
          description: Error description from service
        CouponInfos:
          $ref: '#/components/schemas/ticketDocumentVO.CouponInfos'
        PrimaryDocInd:
          type: boolean
          description: This attribute indicates whether the document is primary or not.
        TicketDocNbr:
          type: string
          description: This attribute holds the coupon document number.
        OriginalTicketNbr:
          type: string
          description: This attribute holds the Original Ticket Number if the former was modified.
        DateOfIssue:
          type: string
          description: This attribute holds the date of issue of the document.
        TicketVersion:
          type: number
          description: This attribute holds the version of the ticket issued.
          format: long
        TicketStatus:
          type: string
          description: This attribute holds the current status of the ticket issued.
        ErrorCode:
          type: string
          description: Error Code from the service
        TimeOfIssue:
          type: string
          description: This attribute holds the time of issue of the document.
        InConnectionDocNbr:
          type: string
          description: This attribute holds the connected document number.
      description: This attribute holds the ticket document details.
    passengerVO.TravelDocuments:
      type: object
      properties:
        TravelDocument:
          type: array
          items:
            $ref: '#/components/schemas/travelDocumentVO'
      description: This attribute holds the travel document details for the passenger.
    arrivalPortVO:
      required:
        - LocationCode
      type: object
      properties:
        LocationCode:
          type: string
          description: This attribute indicates the Arrival Location Code
        LocationCountryCode:
          type: string
          description: This attribute indicates the Arrival Country Code
        DebarkationDateTime:
          type: string
          description: This attribute indicates the Debarkation Date and Time
          format: dateTime
        LocationName:
          type: string
          description: This attribute indicates the Arrival Location Name
      description: This attribute indicates the Arrival details
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    clientRecapVO.BookingDupeCheckErrors:
      type: object
      properties:
        BookingDupeCheckError:
          type: array
          items:
            $ref: '#/components/schemas/remarkVO'
      description: This attribute holds the details of duplicate bookings that already exists in system
    paxMandatoryDetailVO.PaxConfigurationAddresses:
      type: object
      properties:
        PaxConfigurationAddress:
          type: array
          items:
            $ref: '#/components/schemas/paxConfigurationAddressVO'
      description: This attribute holds the mandatory details in passenger addresses
    Component:
      $ref: '#/components/schemas/itineraryItem'
    productVO.Charges:
      type: object
      properties:
        Charge:
          type: array
          items:
            $ref: '#/components/schemas/chargeVO'
      description: The charge (price) details of the product. This is the details to calculate the total price/charge of a product in the booking.
    UserAndTime:
      description: This element holds the details of user and time of booking
      $ref: '#/components/schemas/userAndTimeVO'
    luggageDescriptionVO:
      type: object
      properties:
        Language:
          type: string
    clientRecapVO:
      type: object
      properties:
        Inconsistencies:
          description: This attribute holds the details of inconsistencies in bookings
          $ref: '#/components/schemas/clientRecapVO.Inconsistencies'
        BookingConsistencyErrors:
          description: This attribute holds the details of inconsistency errors in bookings
          $ref: '#/components/schemas/clientRecapVO.BookingConsistencyErrors'
        BookingDupeCheckErrors:
          description: This attribute holds the details of duplicate bookings that already exists in system
          $ref: '#/components/schemas/clientRecapVO.BookingDupeCheckErrors'
      description: This attribute holds the details of duplicate bookings that already exists in system or inconsistencies in a booking
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    superPnrVO.Remarks:
      type: object
      properties:
        Remark:
          type: array
          items:
            $ref: '#/components/schemas/remarkVO'
      description: The booking remarks captured against the booking level.
    sailingCriteriaVO:
      type: object
      properties:
        IncludeGratuityChargesInd:
          type: boolean
    passengerVO.Loyalties:
      type: object
      properties:
        Loyalty:
          type: array
          items:
            $ref: '#/components/schemas/loyaltyVO'
      description: This attribute holds the details of the loyalty program of the company.
    PackagePromoBenefit:
      $ref: '#/components/schemas/packagePromotionBenefitVO'
    additionalDetailVO:
      type: object
      properties:
        ParagraphType:
          description: 'This attribute holds the type information that is being sent. e.g., rate description, property description'
          $ref: '#/components/schemas/paragraphTypeVO'
        Type:
          type: string
          description: This attribute holds the type of information that is sent.
        Code:
          type: string
          description: This attribute holds the code which is associated with the additional detail type.
      description: This attribute holds the collection of additional details
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    productCreditVO:
      required:
        - ComponentID
        - IsCreditRemoveFromEvent
        - IsReferral
        - OverrideCredit
        - compCreditId
        - creditTxnId
        - isReferralCreditLimitReached
      type: object
      properties:
        PassengerApplicability:
          $ref: '#/components/schemas/productCreditVO.PassengerApplicability'
        Status:
          type: string
        CreditCode:
          type: string
        CreditTempName:
          type: string
        Action:
          type: string
        SuperPNR:
          type: string
        ProductName:
          type: string
        ProductCode:
          type: string
        isReferralCreditLimitReached:
          type: boolean
        ProductType:
          type: string
        ItemPrice:
          type: string
          format: decimal
        ReferralCreditUsageLimitAmount:
          type: string
          format: decimal
        ChargeData:
          $ref: '#/components/schemas/productChargeDataVO'
        IsReferral:
          type: boolean
        compCreditId:
          type: number
          format: long
        ReferralCreditUsageLimitCount:
          type: string
        IsCreditRemoveFromEvent:
          type: boolean
        AppliedTime:
          type: string
          format: dateTime
        OverrideCredit:
          type: boolean
        ComponentID:
          type: number
          format: long
        creditTxnId:
          type: number
          format: long
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    pymtChargeElementVO:
      type: object
      properties:
        CustomerProfileId:
          type: number
          description: Indicates the customer profile id
          format: long
        Status:
          type: string
          description: Indicates the status
        ChargeType:
          type: string
          description: Indicates the charge type
        Amount:
          type: string
          description: Indicates the amount
          format: decimal
        Currency:
          type: string
          description: Indicates the currency
        RedeemAmount:
          type: string
          description: Indicates the redeem amount
          format: decimal
        RefId:
          type: number
          description: Indicates the reference id
          format: long
        PaymentAmount:
          type: string
          description: Indicates the payment amount
          format: decimal
        AvailableRedeemAmount:
          type: string
          description: Indicates the available redeem amount
          format: decimal
      description: Holds the payment charge elements
    transferPassengerCategoryVO:
      type: object
      properties:
        UniqueID:
          type: string
          description: The passenger reference Identifier
        Code:
          type: string
          description: 'The passenger type A,I,C etc'
      description: This node holds the passenger reference and the type.
    trainSegmentVO:
      type: object
      properties:
        OperatingCompany:
          type: string
        DepartureStationCode:
          type: string
        TrainNumber:
          type: string
        DepartureDateTime:
          type: string
        ArrivalDateTime:
          type: string
        ArrivalStationCode:
          type: string
        MarketingCompany:
          type: string
        EquipmentCode:
          type: string
        RailAmenities:
          type: array
          items:
            $ref: '#/components/schemas/railAmenityVO'
        NetworkCode:
          type: string
        JourneyDuration:
          type: string
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    productRequestVO.RepricedFees:
      type: object
      properties:
        Fee:
          type: array
          items:
            $ref: '#/components/schemas/feeVO'
      description: This atrribute holds the fee details of a product after repricing
    surpriseBookingVO.SurpriseProductDetails:
      type: object
      properties:
        SurpriseProductDetail:
          type: array
          items:
            $ref: '#/components/schemas/surpriseProductDetailVO'
      description: This attribute holds the details of surprise products
    transferPassengerPrefsVO:
      type: object
      properties:
        MaximumPassengers:
          type: integer
          description: The total number of passenger in a unit of transfer
          format: int
      description: The total number of passenger in a unit of transfer
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    transferTPAExtensionVO.Charges:
      type: object
      properties:
        Charge:
          type: array
          items:
            $ref: '#/components/schemas/chargeVO'
      description: 'This element is the placeholder in the schema to allow for additional elements and attributes to be included per Trading Partner Agreement (TPA). '
    AdvertisingSource:
      description: This attribute holds the details of advertising source.
      $ref: '#/components/schemas/advertisingSourceVO'
    ReferrerDetails:
      $ref: '#/components/schemas/referrerDetailsVO'
    ticketByTimeLimitVO:
      type: object
      properties:
        TicketBy:
          type: string
          description: This is the date/time when a ticket-associated offer must be ticketed.
      description: 'This element holds the time limit for ticketing. '
    responseVO:
      type: object
      properties:
        Order:
          description: Order information.
          $ref: '#/components/schemas/orderVO'
        ReshopDifferential:
          description: The object to store the re-shop penalty details
          $ref: '#/components/schemas/penaltyVO'
        StartOfOccuranceDateReturnUTC:
          type: string
          format: dateTime
        ChangeFees:
          description: Change fee details
          $ref: '#/components/schemas/changeFeesVO'
        StartOfOccuranceDateOnwardUTC:
          type: string
          format: dateTime
        TicketDocInfos:
          description: This element holds the Ticket Details
          $ref: '#/components/schemas/responseVO.TicketDocInfos'
        DataList:
          description: 'This element holds the details of the set of data lists. '
          $ref: '#/components/schemas/dataListsVO'
        TktlParameter:
          type: string
          description: Indicator to determine whether the actual ticket time limit or the desired ticket time limit is to be send to the provider.
        ModificationType:
          type: string
          description: The value to store the type of modification
        TicketAgencyInfo:
          description: This element holds the ticketing agency details.
          $ref: '#/components/schemas/ticketAgencyInfoVO'
        ProviderErrorMessage:
          type: string
          description: Element to hold the error messages returned from provider
        AirRemarkRefVOs:
          description: 'This element holds the services like OSI,SSR and remarks send to the GDS accompanied with the GDS ref details'
          $ref: '#/components/schemas/responseVO.AirRemarkRefVOs'
        EndOfOccuranceDateOnwardUTC:
          type: string
          format: dateTime
        DesiredTktTimeLimit:
          type: string
          description: Element to pass the ticket time limit value set in iTravel
          format: dateTime
        AmendmentTypes:
          description: The section to store the type of amendment
          $ref: '#/components/schemas/responseVO.AmendmentTypes'
        EndOfOccuranceDateReturnUTC:
          type: string
          format: dateTime
      description: This element has the details of the results for available air services according to the search criteria provided by the user
    RailAmenity:
      $ref: '#/components/schemas/railAmenityVO'
    priceVO:
      type: object
      properties:
        BaseAmount:
          description: Total base fare amount
          $ref: '#/components/schemas/baseAmountVO'
        AncillaryFareBreakUp:
          description: The object to save the ancillary fare break up details
          $ref: '#/components/schemas/ancillaryFareBreakVO'
        Taxes:
          description: Ticket Tax/fee/charge details to indicate taxes that apply to country of commencement of travel and routing.
          $ref: '#/components/schemas/airTaxesVO'
        Surcharges:
          description: Applicable surcharge(s) in detail
          $ref: '#/components/schemas/priceVO.Surcharges'
      description: Price Details of each flight
    totalOrderPriceVO:
      type: object
      properties:
        DetailCurrencyPrice:
          description: The element holds the detail price
          $ref: '#/components/schemas/detailCurrencyPriceVO'
      description: The element describes the total price of an order
    waitListPreferences:
      type: object
      properties:
        WaitListedCategoryName:
          type: string
        WaitListDeckCodes:
          type: string
          description: This node holds the preferred waitlisted deck codes
        WaitlistCabinPreferences:
          type: array
          items:
            $ref: '#/components/schemas/waitlistCabinPreferences'
        WaitListCategoryCode:
          type: string
          description: This node holds the preferred waitlisted category code
        WaitListCategoryClassCode:
          type: string
          description: This node holds the preferred waitlisted category class codes
        WaitListCabinLocationCodes:
          type: string
          description: This node holds the preferred waitlisted cabin locations
      description: This attribute holds the wait list preferences
    LuggageItem:
      description: Not applicable
      $ref: '#/components/schemas/luggageItemVO'
    unitPriceVO:
      type: object
      properties:
        Charge:
          description: This element holds the charge split up of an item in package.
          $ref: '#/components/schemas/chargeVO'
      description: This element holds unit price details.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    flightAccidentAmountVO:
      type: object
      properties:
        CurrencyCode:
          type: string
          description: Currency code
        Amount:
          type: number
          description: Amount
          format: double
    destinationVO:
      type: object
      properties:
        CountryName:
          description: The attribute holds the detination country name
          $ref: '#/components/schemas/countryNameVO'
      description: The attribute specifies the travel destination.
    infantAssociationInfoVO.ApplicableAdults:
      type: object
      properties:
        AdultId:
          type: array
          items:
            type: number
            format: long
      description: The element holds the adult detail which the infant needs to be associated.
    superPnrVO.AmountDues:
      type: object
      properties:
        AmountDue:
          type: array
          items:
            $ref: '#/components/schemas/bookingAmountVO'
      description: 'This element holds the details of the amount due in booking. '
    bookingErrorVO.PassengerDocErrors:
      type: object
      properties:
        PassengerDocError:
          type: array
          items:
            $ref: '#/components/schemas/remarkVO'
      description: This attribute holds the passenger document errors based on its validity
    IssuingAirlineInfo:
      description: Ticket Issuing  Airline Info
      $ref: '#/components/schemas/issuingAirlineInfoVO'
    HotelCharge:
      description: Not relevant in cruise ancillary service
      $ref: '#/components/schemas/hotelChargeVO'
    airAncillaryVO:
      type: object
      properties:
        Descriptions:
          description: The description for each paid air ancillaries
          $ref: '#/components/schemas/airAncillaryVO.Descriptions'
        AncillaryCategoryGroup:
          description: The object to save the group details of the ancillaries
          $ref: '#/components/schemas/ancillaryCategoryGroupVO'
        FareFamily:
          type: string
          description: Fare family information
        ID:
          type: number
          description: The unique identifier to identify the booking instructions and ancillary category group.
          format: long
        BookingInstructions:
          description: The object to save the SSR details  of the ancillaries
          $ref: '#/components/schemas/bookingInstructionVO'
      description: The objects to save the the ancillary details
    paxConfigurationAddressVO:
      type: object
      properties:
        ContactType:
          description: 'This attribute holds the contact type.The supported contact types are H,B,M(Home,Business,Mobile Contact)'
          $ref: '#/components/schemas/contactTypeEnum'
        AddressLine:
          type: boolean
          description: This attributes holds the detail whether address line is mandatory or not
        State:
          type: boolean
          description: This attributes holds the detail whether state is mandatory or not
        Country:
          type: boolean
          description: This attributes holds the detail whether country is mandatory or not
        PostalCode:
          type: boolean
          description: This attributes holds the detail whether postal is mandatory or not
        City:
          type: boolean
          description: This attributes holds the detail whether city is mandatory or not
        District:
          type: boolean
          description: This attributes holds the detail whether district is mandatory or not
      description: This attribute holds the mandatory details of passenger addresses
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    roomTypeVO:
      type: object
      properties:
        AdditionalDetails:
          description: A collection of additional details
          $ref: '#/components/schemas/roomTypeVO.AdditionalDetails'
        RoomCategory:
          type: string
          description: 'Represents the category of room. User may request to book a hotel room with specific room category. For ex: User only needs to book deluxe room in Hotel, in such cases room category will be selected  by the user for booking. Typical values would be Moderate, Standard, or Deluxe.'
        RoomTypeName:
          type: string
          description: This attribute provide the room name
        NumberOfUnits:
          type: string
          description: The number of rooms that have been combined to create this room type. E.g 2.
        RoomDescription:
          description: This attribute provides the description of the room.
          $ref: '#/components/schemas/roomDescriptionVO'
        Occupancy:
          description: This attribute provides the parameters of the occupancy limits.
          $ref: '#/components/schemas/occupancyVO'
        TPA_Extensions:
          description: This attributes provide the room base information and remarks not added in room description.
          $ref: '#/components/schemas/roomTypeVO.TPA_Extensions'
        IsRoom:
          type: boolean
          description: This indicates that the room which is currently booked is a sleeping room. The value of this will always be TRUE.
        Quantity:
          type: string
          description: Defines the number of the item in question. E.g 2
        RoomID:
          type: string
          description: This unique identification of a room if the request is looking for a specific room.
        RoomTypeCode:
          type: string
          description: 'This is the code which represents the room type offered by hotel. ex: A1K, A1Q etc. e code which represents the room type offered by hotel. ex: A1K, A1Q etc.'
      description: |-
        Represents the type of the room. i.e if it is a double 
        room or a single room. Supports multiplicity.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    pkgChargesVO:
      type: object
      properties:
        TotalCharges:
          description: This element holds the total charge details for package.
          $ref: '#/components/schemas/pkgChargesVO.TotalCharges'
        PerUnitCharges:
          type: array
          items:
            $ref: '#/components/schemas/pkgPerUnitChargeVO'
        ItemPrice:
          description: This element holds the item level price details of package.
          $ref: '#/components/schemas/chargeVO'
      description: This element holds the complete charge structure of package.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    airPromotionPassengerApplicabilityVO:
      type: object
      properties:
        PassengerApplicableList:
          description: This element holds the passenger applicability list of the air promotion applicable passengers
          $ref: '#/components/schemas/airPromotionPassengerApplicabilityVO.PassengerApplicableList'
        MaxPassengerApplicable:
          type: integer
          description: This element indicates the maximum passengers applicable for the air promotions
          format: int
        PaxTypesApplicable:
          type: array
          items:
            type: string
      description: This element holds the applicability details of the air promotion applicable passengers
    marriedSegTypeVO:
      type: object
      properties:
        Code:
          type: string
          description: This attribute holds the  code value for married segment type of booking.
      description: This attribute holds the details of the married segment type specified in the booking.   "
    passengerVO.CitizenCountryCodes:
      type: object
      properties:
        CountryCode:
          type: array
          items:
            type: string
      description: The attribute holds country code specified in the address of the passenger.
    responseVO.AirRemarkRefVOs:
      type: object
      properties:
        AirRemarkRefVO:
          type: array
          items:
            $ref: '#/components/schemas/airRemarkRefVO'
      description: 'Air Remark details '
    customerCreditVO.PymtPassengers:
      type: object
      properties:
        PymtPassenger:
          type: array
          items:
            $ref: '#/components/schemas/pymtProductPassengerVO'
      description: Holds the payment passengers
    ContactInfo:
      description: This provides the contact details.
      $ref: '#/components/schemas/contactInfoVO'
    ResGuestRPH:
      $ref: '#/components/schemas/resGuestRPHVO'
    departurePortVO:
      required:
        - LocationCode
      type: object
      properties:
        LocationCode:
          type: string
          description: This attribute indicates the Departure Location Code
        LocationCountryCode:
          type: string
          description: This attribute indicates the Departure Country Code
        EmbarkationTime:
          type: string
          description: This attribute indicates the Embarkation Time
          format: dateTime
        LocationName:
          type: string
          description: This attribute indicates the Departure Location Name
      description: The element holds the departure details.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    passengerVO.CustomFields:
      type: object
      properties:
        CustomField:
          type: array
          items:
            $ref: '#/components/schemas/customFieldVO'
      description: 'This attribute holds the key, value pair for the passenger custom fields.'
    HotelDescription:
      $ref: '#/components/schemas/hotelDescriptionVO'
    GroundReservation:
      description: This attribute provides details of the transfer reservation
      $ref: '#/components/schemas/groundReservationVO'
    productVO.GroupClassifications:
      type: object
      properties:
        GroupClassification:
          type: array
          items:
            type: string
      description: Holds the list of group classification details for a group booking.
    Rate:
      description: Available Room Rates
      $ref: '#/components/schemas/rateVO'
    BedConfigurationDetails:
      $ref: '#/components/schemas/bedConfigurationDetailsVO'
    uniqueIDVO:
      type: object
      properties:
        Type:
          type: string
          description: A reference to the type of object defined by the UniqueID element.
        ID_Context:
          type: string
          description: 'Used to identify the source of the identifier (e.g., IATA, ABTA)'
        ID:
          type: string
          description: A unique identifying value assigned by the creating system. The ID attribute may be used to reference a primary-key value within a database or in a particular implementation.
      description: Used to provide PMS and/or CRS identifiers
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    HotelPromotionBenefit:
      $ref: '#/components/schemas/hotelPromotionBenefitVO'
    contextVO.OwnerBasedDues:
      type: object
      properties:
        OwnerBasedDue:
          type: array
          items:
            $ref: '#/components/schemas/ownerBasedDueVO'
      description: This attribute holds the owner based dues
    Air:
      description: This attribute holds the details of the booked flight
      $ref: '#/components/schemas/airVO'
    AncillaryCharge:
      $ref: '#/components/schemas/airAncillaryChargeVO'
    cruiseRootBenefitVO.CruisePromoBenefits:
      type: object
      properties:
        CruisePromoBenefit:
          type: array
          items:
            $ref: '#/components/schemas/cruisePromotionBenefitVO'
      description: This node will hold the cruise promotion benefit details.
    tnCDocumentVO:
      type: object
      properties:
        DocumentRefId:
          type: string
          description: This attribute holds the document reference ID of terms and conditions
      description: This attribute holds the terms and conditions document details.
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    productVO.AssociatedProducts:
      type: object
      properties:
        AssociatedProduct:
          type: array
          items:
            $ref: '#/components/schemas/associatedProductVO'
      description: Holds the list of product reference ids of the products associated to this product
    actAmendPolicyVO:
      type: object
      properties:
        AmendTypes:
          description: Information that identifies the tour and/or activity Amendment Policy Types
          $ref: '#/components/schemas/actAmendPolicyVO.AmendTypes'
        PolicyType:
          type: string
        PricingUnit:
          type: string
        EndTime:
          type: string
          description: Information that identifies the End date of the tour/activity Amendment Policy
          format: dateTime
        StartTime:
          type: string
          description: Information that identifies the start date of the tour/activity Amendment Policy
          format: dateTime
        PassengerType:
          type: string
        PolicyDescription:
          type: string
        Price:
          type: string
          description: 'Information that identifies the price of the tour/activity Amendment '
          format: decimal
        AmendPolicyTimeZone:
          type: string
        Currency:
          type: string
          description: 'Information that identifies the currency of the tour/activity Amendment '
        OffsetType:
          type: string
        AppliedOn:
          type: string
        MarkupType:
          type: string
    CouponInfo:
      description: Ticket Coupon Details
      $ref: '#/components/schemas/couponInfoVO'
    companyNameVO:
      type: object
      properties:
        CompanyShortName:
          type: string
          description: Company Short Name
        Code:
          type: string
          description: Company Code
      allOf:
        - $ref: '#/components/schemas/baseElementVO'
    packagePromotionBenefitVO.PackagePromoBenefitApplicabilityList:
      type: object
      properties:
        PackagePromoBenefitApplicability:
          type: array
          items:
            $ref: '#/components/schemas/packagePromoBenefitApplicabilityVO'
      description: It holds the promotion details of package
    ApplicablePromotion:
      $ref: '#/components/schemas/activityPromotionIdVO'
    Journey:
      description: The element defines the duration of the trip
      $ref: '#/components/schemas/durationVO'
    hotelVO.CancellationPolicies:
      type: object
      properties:
        CancelPenalty:
          type: array
          items:
            $ref: '#/components/schemas/cancelPenaltyVO'
      description: This provides the details of the cancellation policies.
    superPnrVO.SurpriseBookings:
      type: object
      properties:
        SurpriseBooking:
          type: array
          items:
            $ref: '#/components/schemas/surpriseBookingVO'
      description: This attribute holds the details of Surprise bookings
    promoBenefitsResponseVO.promoBenAdvDiscounts:
      type: object
      properties:
        promoBenAdvDiscount:
          type: array
          items:
            $ref: '#/components/schemas/promoBenAdvDiscountDataVO'
      description: Advanced discount and benefit settings are provided in this section
    dataListsVO.AnonymousTravelerList:
      type: object
      properties:
        AnonymousTraveler:
          type: array
          items:
            $ref: '#/components/schemas/anonymousTravelerVO'
      description: This element holds the list of traveller for associated passenger type and country of residence.
[...]
